/* navbar */

.navbar-font {
    color: #19345E;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
}
  
.navbar-font:hover {
    color: inherit;
}
  
.btn-contact {
    margin-left: 40px;
    border: 1px #F47522 solid;
    background-color: #F47522;
    border-radius: 25px;
    padding: 5px 30px;
    color: white;
    font-family: 'Mulish', sans-serif;
}

.navbar-font-active {
    color: #F47522;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
}

.navbar-font-active:hover {
    color: #F47522;
}
  
  /* akhir navbar */


/* footer */

.footer-oldblue {
    background-color: #19345E;
}
