* {
  margin: 0;
  padding: 0;
}

/* navbar */

.navbar-font {
  color: #19345E;
  font-weight: bold;
  font-family: 'Mulish', sans-serif;
}

.navbar-font:hover {
  color: #F47522;
}

.btn-contact {
  margin-left: 40px;
  border: 1px #F47522 solid;
  background-color: #F47522;
  border-radius: 25px;
  padding: 5px 30px;
  color: white;
  font-family: 'Mulish', sans-serif;
}

/* akhir navbar */

.title-about {
  color: #19345E;
  padding: 45px 0;
}

/* contact list */
img.logo-style {
  display: inline;
  justify-content: flex-start;
  width: 25px;
  margin: 5px;
}

.logo-contact-list {
  width: 15px;
  margin: 10px;
}


/* end of contact list */


/* forms */

.font-style {
  font-family: 'Poppins', sans-serif;
  color: #19345E;
}

span {
  color: #FF0303;
}

.box-form {
  padding: 0 80px;
}

input.form-control.size-input {
  display: flex;
  justify-content: flex-start;
}

input.form-control:hover {
  border-color:#F47522 ;
}

input.size-input {
  height: 150px;
}

button.btn.btn-primary {
  background-color: #F47522;
  border: 1px solid #F47522;
  border-radius: 30px;
  padding: 5px 35px;
  margin: 35px 0;
  color: white;
}

/* end of forms */



